.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #47f7f4;
   color: white;
   text-align: center;
   padding-top: 10px;
}
.header {
  overflow: hidden;
  background-color: #47f7f4;
  padding: 20px 10px;
}
.container{
	text-align: center;
}